* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}
body {
    background-color: rgb(0, 0, 0);
}
#gc-container {
    display: grid;
    place-items: center;
    height: 100vh;
}
#gc-show-password{
    border: none;
}
.gc-box {
    border-radius: 12px;
    width: 600px;
    height: 600px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}
.gc-title {
    text-align: center;
}
.gc-title h1 {
    color: rgb(0, 0, 0);
}
.gc-text-field {
    display: flex;
    flex-direction: column;
    gap: 10px; 
}
.gc-name input {
    width: 300px;
    height: 40px;
    border: none;
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 10px;
    font-size: 16px;
}
.gc-name {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
#gc-send-name {
    background-color: transparent;
    border: 1px black solid;
    border-radius: 100%;
    padding: 4px;
    font-size: 13px;
    cursor: pointer;
    width: 25px;
}
.gc-password {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.gc-password input {
    width: 300px;
    height: 40px;
    border: none;
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 10px;
    font-size: 16px;
}
.gc-password button {
    background-color: transparent;
    border: 2px solid black;
    font-size: 20px;
    cursor: pointer;
}
#gc-show-password {
    border: none;
}
::-webkit-input-placeholder {
    color: rgb(255, 255, 255);
}
.gc-send {
    display: flex;
    justify-content: end;
    align-items: end;
    padding-top: 4px;
}
#gc-send-login {
    background-color: black;
    color: white;
    width: 70px;
    height: 30px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}
.gc-sub-box {
    width: 90%;
    height: 300px;
    border: 2px solid black;
    padding: 12px;
    border-radius: 12px;
}
.gc-password-item {
    border: 2px solid #000; /* Adiciona uma borda preta de 2 pixels */
    padding: 10px; /* Adiciona espaçamento interno */
    margin: 5px 0; /* Adiciona espaçamento entre os itens */
    border-radius: 5px; /* Adiciona cantos arredondados */
}

