/* PAGINA LICOES */

/* HEADER */
a {
    text-decoration: none;
    color: black;
}
  
header {
    background: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-size: 20px;
    font-family: "Playwrite NG Modern", cursive;
    box-shadow: 0px 3px 10px #464646;
}
  
.NetGuard {
    color: #008080;
    font-size: 40px;
}


/* BODY */
main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    gap: 50px;
    padding: 20px;
}

.card {
    display: flex;
    justify-content: center;
    width: 350px;
    height: 400px;
    position: relative;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0px 35px 80px rgba(0, 0, 0, 0.15);
    transition: 0.5s;
    font-family: "LXGW WenKai TC", cursive;
    font-size: 15px;
}

.card:hover {
    height: 400px;
}

.card .img-box {
    position: absolute;
    width: 250px;
    height: auto;
    top: 0px;
    transition: 0.5s;
}

.card:hover .img-box {
    top: -100px;
    transform: scale(0.75);
}

.card .img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .content {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 200px;
    width: 100%;
    padding: 30px 20px;
    text-align: center;
    height: 20px;
    overflow: hidden;
    transition: 0.5s;
}

.card:hover .content {
    top: 130px;
    height: 250px;
}

.card .read-more {
    background: linear-gradient(90deg, #3730a3, #7e22ce);
    padding: 12px;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
}

/* FOOTER */
footer {
    background-color: #fdfdfd;
    color: black;
    text-align: center;
    width: 100%;
    height: 200px;
    font-size: 1.2rem; 
}

.titulo_footer {
    font-size: 0.7rem; 
}

.conteudo_footer {
    display: flex;
    justify-content: center;
    margin: 60px 10px;
    gap: 25px;
}

.links_footer {
    text-decoration: none;
    color: black;
    font-size: 1rem;
}

.links_footer:hover {
    display: flex;
    color: black;
    transform: scale(1.1);
}

@media (max-width: 1200px) {
    main {
        gap: 15px;
    }

    .card {
        width: 300px;
        height: 250px;
    }

    .card:hover {
        height: 350px;
    }

    .card:hover .content {
        top: 100px;
        height: 200px;
    }
}

@media (max-width: 768px) {
    main {
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }

    .card {
        width: 90%;
        height: 250px;
    }

    .card:hover {
        height: 350px;
    }

    .card:hover .content {
        top: 100px;
        height: 200px;
    }
}

@media (max-width: 480px) {
    .card {
        width: 100%;
        height: 200px;
    }

    .card:hover {
        height: 300px;
    }

    .card:hover .content {
        top: 70px;
        height: 180px;
    }

    .card .img-box {
        width: 100%;
        top: 0;
        transition: none;
        transform: none;
    }

    .card:hover .img-box {
        top: 0;
        transform: none;
    }
}

/* INJECAO */

code {
    background-color: #f0f0f0;
    padding: 5px;
    border: 1px solid #ccc;
    display: block;
  }