* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}
body {
    background-color: rgb(0, 0, 0);
}

* {
    margin: 0;
    padding: 0;
}

/* HEADER */

#global-header {
    background-color: white;
    box-shadow: 0px 3px 10px #464646;
    font-weight: bolder;
    font-family: "Playwrite NG Modern", cursive;
    margin: 0;
    width: 100%;
}

.global-nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 1.4rem 1.8rem;
}

.global-logo {
    display: flex;
    align-items: center;
}

.global-logo a {
    color: #008080;
    text-decoration: none;
    margin-top: 10px;
    font-family: "Playwrite NG Modern", cursive;
}

.global-nav-list {
    display: flex;
    padding-top: 5px;
    font-size: 20px;
    align-items: center;
    color: lightgray;
}

.global-nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.global-nav-item {
    margin: 0 50px;
    font-size: 19px;
    color: black;
    transition: transform 0.7s ease;
}

.global-nav-item:hover {
    display: flex;
    color: black;
    transform: scale(1.3);
}

.global-nav-link {
    text-decoration: none;
    font-size: 1.1rem;
    color: #443f3f;
    font-weight: 400;
}

.global-login-button button {
    border: none;
    margin-top: 10px;
    padding: 15px 20px;
    border-radius: 5px;
    background-color: #0187a7;
}

.global-login-button button a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 1.1rem;
}

.global-mobile-menu-icon {
    display: none;
    color: black;
}

.global-mobile-menu {
    display: none;
    color: black;
    font-size: 20px;
    text-align: center;
}

@media screen and (max-width: 730px) {
    .global-nav-bar {
        padding: 1.5rem 4rem;
    }
    .global-nav-item {
        display: none;
    }
    .global-login-button {
        display: none;
    }
    .global-mobile-menu-icon {
        display: block;
    }
    .global-mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .global-mobile-menu-icon img {
        filter: invert(1);
    }
    .global-mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }
    .global-mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }
    .global-mobile-menu .login-button {
        display: block;
        padding: 1rem 2rem;
    }
    .global-mobile-menu .login-button button {
        width: 100%;
    }
    .global-open {
        display: block;
    }
}

/* FOOTER */

#global-footer {
    background-color: #fdfdfd;
    color: black;
    text-align: justify;
    width: 100%;
    height: 200px;
}

.global-titulo-footer {
    font-size: 1rem;
}

#copy {
    text-align: center;
}

.global-conteudo-footer {
    display: flex;
    margin: 60px 10px;
    gap: 25px;
    justify-content: space-around;
}

.global-links-footer {
    text-decoration: none;
    color: black;
    transition: transform 0.7s ease;
}

.global-links-footer:hover {
    display: flex;
    color: black;
    transform: scale(1.1);
}

#container {
    display: grid;
    place-items: center;
    height: 100vh;
}
#show-password{
    border: none;
}
.box {
    border-radius: 12px;
    width: 600px;
    height: 600px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}
.title {
    text-align: center;
}
.title h1 {
    color: rgb(0, 0, 0);
}
.text-field {
    display: flex;
    flex-direction: column;
    gap: 10px; 
}
.name input {
    width: 300px;
    height: 40px;
    border: none;
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 10px;
    font-size: 16px;
}
.name {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
#send-name {
    background-color: transparent;
    border: 1px black solid;
    border-radius: 100%;
    padding: 4px;
    font-size: 13px;
    cursor: pointer;
    width: 25px;
}
.password {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.password input {
    width: 300px;
    height: 40px;
    border: none;
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 10px;
    font-size: 16px;
}
.password button {
    background-color: transparent;
    border: 2px solid black;
    font-size: 20px;
    cursor: pointer;
}
#show-password {
    border: none;
}
::-webkit-input-placeholder {
    color: rgb(255, 255, 255);
}
.send {
    display: flex;
    justify-content: end;
    align-items: end;
    padding-top: 4px;
}
#send-login {
    background-color: black;
    color: white;
    width: 70px;
    height: 30px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}
.sub-box {
    width: 90%;
    height: 300px;
    border: 2px solid black;
    padding: 12px;
    border-radius: 12px;
}
.password-item {
    border: 2px solid #000; /* Adiciona uma borda preta de 2 pixels */
    padding: 10px; /* Adiciona espaçamento interno */
    margin: 5px 0; /* Adiciona espaçamento entre os itens */
    border-radius: 5px; /* Adiciona cantos arredondados */
}

