

body {
    background-image: url("NetGuard.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Arial', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.login-container, .signup-container {
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 400px;
}

.login-container h2, .signup-container h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.form-control {
    border-radius: 5px;
}

.btn {
    width: 100%;
    color: #0d009c;
    border: none;
    padding: 10px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: black;
}

.alert {
    display: none;
    margin-top: 20px;
}

a {
    color: #0d009c;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}