/* styles.css */
.Iago3 .quiz-container, .Iago3 .question-container, .Iago3 #result, .Iago3 #congratsMessage {
    text-align: center;
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
}

.Iago3 .quiz-container {
    margin-top: 20px;
}

.Iago3 #result {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: none;
}

.Iago3 #congratsMessage {
    color: #0f0b0b;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.Iago3 .quiz-button {
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 16px;
    background-color: #0074d9;
    color: #fff;
    border: none;
    cursor: pointer;
    margin: 10px;
}

.Iago3 .quiz-option {
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 18px;
    background-color: #ffffff;
    color: #000;
    border: 2px solid #a7a4a4;
    cursor: pointer;
    margin: 10px;
    transition: background-color 0.3s;
}

.Iago3 .quiz-option:hover {
    background-color: #b2c1f3;
    border: 2px solid #0e0d0d;
}

.Iago3 .quiz-option.correct {
    background-color: #2ecc71;
}

.Iago3 .quiz-option.incorrect {
    background-color: #e74c3c;
}
